*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(21, 137, 209);
}
#doctor{
    height: 220%;
    width: 220px;
    position: absolute;
    background-color: white;
    transition: 0.5s ease;
    transform: translateX(-220px);
}
#doctor h1{
    color: purple;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
#doctor ul li{
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.check{
    display: none;
    visibility: hidden;
    webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: blueviolet;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.check:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
.check:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
.check:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
.check:checked ~ #doctor{
    transform: translatex(0);
    box-shadow: 0 0 15px rgba(0, 0, blu0e, 0.5);
}
#doctor ul li:hover{
    color: white;
    background-color: purple;
}
#contact_us{
    
    text-align: end;
}
#email{
    margin-top: 10px;
    text-align: end;
}
#help{
    margin-top: 10px;
    text-align: end;
}
.form{
    flex-direction: row-reverse;
}
.login{
    margin-left: 250px;
    height: 25px;
    width: 70px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
}
.login:hover {
    color: rgb(17, 159, 215);
}
.login #login{
    color:rgb(7, 132, 182) ;
}
.signup{
    margin: 10px;  
    margin-left: 30px;
    height: 25px;
    width: 90px;
    border-radius: 30px ;
    background-color: rgb(40, 178, 233);
    color: white;
    border-color: rgb(234, 236, 234); 
}
.signup:hover{
    background-color: rgb(246, 48, 48);
}
#signup {
    color: white;
    border-radius: 50%;
}
.image{
    height: 350px;
    width: 100%;
}
.image_text{
    position: absolute;
    top: 25%;
    color: white;
    padding: 20px;
    margin-left: 190px;
}
.header{
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 10px;
    text-align: center;
    padding-top: 10px;
    position: fixed;
}
.header .para{
    display: inline-block;
}
.header .button{
    flex-direction:row-reverse ;
    display: inline-block;
    margin-left: 700px;
}
.header .para:hover{
    color: lightskyblue;
    flex-direction: row;
}
header div{
    position: fixed;
    padding-left:37.5% ;
}
.service{
    margin-top: 10px;
    text-align: center;
}
.identify{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 116, 219);
    border-radius: 10px;
    box-shadow: 0px 2px 4px;
    margin: 15px;
}
.doc{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 116, 219);
    border-radius: 10px;
    box-shadow: 0px 2px 4px;
    margin: 15px;
}
.nursing{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 116, 219);
    border-radius: 10px;
    box-shadow: 0px 2px 4px;
    margin: 15px;
}
.shop{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 116, 219);
    border-radius: 10px;
    box-shadow: 0px 2px 4px;
    margin: 15px;
}

.ambulance{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 116, 219);
    border-radius: 10px;
    box-shadow: 0px 2px 4px;
    margin: 15px;
}


.below{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.ill{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.iden{
    margin-left:50px;
    margin-top: 20px;
}
.doctor1{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.doctor2{
    margin-left:50px;
    margin-top: 20px;
}
.nursing1{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.nursing2{
    margin-left:50px;
    margin-top: 20px;
}
.shop1{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.shop2{
    margin-left:50px;
    margin-top: 20px;
}
.ambulance1{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.ambulance2{
    margin-left:50px;
    margin-top: 20px;
}
.below .identify:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
.below .doc:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
.below .nursing:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
.below .shop:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}
.below .ambulance:hover{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

/* Shops List */
#shopsList ul {
    list-style-type: none;
    padding: 0;
}

#shopsList li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-image: url("https://plus.unsplash.com/premium_photo-1658506671316-0b293df7c72b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZG9jdG9yfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures full-screen coverage without distortion */
    background-position: center; /* Keeps the image centered */
}

/* Mobile-specific adjustments */
@media (max-width: 768px) { /* Target smaller screens */
    .modal {
        background-size: cover; /* Ensures the image covers the entire screen */
        background-position: center; /* Keeps the focus on the important part of the image */
    }
}

.modal-content {
    background-color: rgba(64, 64, 64, 0.15);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 325px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    height: 350px;
}

.modal .close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 15px;
    cursor: pointer;
    padding-right: 10px;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ambulance Information */
#ambulanceList ul {
    list-style-type: none;
    padding: 0;
}

#ambulanceList li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
#loginform .login{
    color: black;
}
#loginform{
    color: rgba(192, 17, 17, 0.15);
}
.para a:link{
    text-decoration:none;
}
.para a{
    color: black;
}
.para1{
    margin: 25px;
    color:black;
}


@media (max-width: 600px)
{
    .image_text h2{
        color: white;
        font-size: 1rem;
        margin-top: -30%;
        }
    .modal{
        width: 100%;
        height: 100%;
        padding: 15px;
        background-size: cover;
        background-position:center;
    }
    .header div{
        padding-left: 0%;
        font-size: 14px;
    }
}


div #signupForm{
    color: rgb(2, 12, 12);
    width: 500px;
    height: 900px; 
    font-size: 15px;
}
div .modal-content{
    height: 400px;
    width: 400px;
}
#signupModal h2{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(6, 63, 63);
}
#signupModal i{
    font-size: 45px;
    color: rgb(4, 58, 80);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: -45px;
}
input{
    border-radius: 5px;
}
.signup-button{
    border-radius: 20px;
    width: 20%;
    height: 25px;
    background-color: rgb(5, 33, 42);
    color: rgb(249, 247, 247);
    position: absolute;
    bottom: 15%;
    right: 40%;
    cursor: pointer;
}


.signup-button:hover{
    background-color: skyblue;
    color: black;
}
.login-button{
    background-color:rgb(6, 18, 43) ;
    color: rgb(248, 246, 246);
    height: 25px;
    width: 20%;
    border-radius: 20px;
    position: absolute;
    bottom: 22.5%;
    right: 40%;
    cursor: pointer;
    transition: 0.3s;
}
.login-button:hover{
    background-color: rgb(92, 233, 245);
    color: black;
}
#loginModal h2{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(6, 18, 47);
}
#identifyModal h2{
    text-align: center;
    margin-bottom: 20px;
}
#identifyModal p{
    margin-bottom: 20px;
}
#identifyModal button{
    height: 25px;
    width: 20%;
    border-radius: 10px;
    position: absolute;
    bottom: 22.5%;
    right: 40%;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
#identifyModal button:hover{
    background-color: aqua;
}
#doctorsModal h2{
    text-align: center;
    margin-bottom: 20px;
}
#doctorsModal p{
    margin-bottom: 10px;
}
#hospitalsModal h2{
    text-align: center;
    margin-bottom: 10px;
}
#shopsModal h2{
    text-align: center;
    margin-bottom: 10px;
}
#ambulanceModal h2{
    text-align: center;
    margin-bottom: 10px;
}

#contact_us{
    margin-top: 10px;
    text-align: center;
}
#email{
    text-align: left;
}
#help{
    text-align: left;
}
.doctor2 .doctor2{
    margin-left: 25px;
}
.nursing2 .nursing2{
    margin-left: 20px;
}
.shop2 .shop2{
    margin-left: 30px;
}
.ambulance2 .ambulance2{
    margin-left: 15px;
}
#contact_us a:link{
    text-decoration: none;
}
#contact_us a{
    color: black;
}
.lock i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    font-size: 45px;
    color: rgb(6, 18, 43) ;
}
input{
    height: 30px;
    border-radius: 20px;
    background-color: rgb(243, 244, 244);
    color: black;
    padding-left: 10px;
}
#loginForm i{
    font-size: 20px;
}
.remember-forgot-box{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
}
.remember-forgot-box .lab-el{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.remember-forgot-box input{
    accent-color:white;
    cursor: pointer;
}
.remember-forgot-box a{
    color: white;
    text-decoration: none;
}
.remember-forgot-box a:hover{
    text-decoration: underline;
}
.register{
    margin-top: 15px;
    font-size: 15px;
}
.register a{
    color:white;
    text-decoration: none;
    font-weight: 500;
}
.register a:hover{
    text-decoration: underline;
}
#shopsModal {
    background-image: url("https://cdn.prod.website-files.com/637f7c161a14232e2ea8473d/66bf409fd912b58dd05c9a50_Untitled%20design%20(3)-compressed.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures full coverage */
    background-position: center; /* Centers the image */
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) { /* Adjust for mobile screens */
    #shopsModal {
        background-size: cover; /* Ensures the image covers the screen */
        background-position: center; /* Keeps the image centered */
        width: 100vw;
        height: 100vh;
    }
}

#ambulanceModal {
    background-image: url("https://medcab.in/assets/blogs/blog_thumbnail1690458201.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures full coverage */
    background-position: center; /* Centers the image */
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) { /* Adjust for mobile screens */
    #ambulanceModal {
        background-size: cover; /* Ensures the image covers the screen */
        background-position: center; /* Keeps the image centered */
        width: 100vw;
        height: 100vh;
    }
}

#hospitalsModal {
    background-image: url("https://ehealth.eletsonline.com/wp-content/uploads/2009/07/best-hospital-in-south-india.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image fully covers the screen */
    background-position: center; /* Centers the image */
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
}

/* Mobile-specific adjustments */
@media (max-width: 720px) {
    #hospitalsModal {
        background-size: cover; /* Ensures the image covers the screen properly */
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
}

#doctorsModal {
    background-image: url("https://plus.unsplash.com/premium_photo-1658506671316-0b293df7c72b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZG9jdG9yfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image fully covers the screen */
    background-position: center; /* Centers the image */
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
}


/* Mobile-specific adjustments */
@media (max-width: 720px) {
    #doctorsModal {
        background-size: cover; /* Ensures the image covers the screen properly */
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
}

#identifyModal {
    background-image: url("https://images.indianexpress.com/2025/01/chronic-illness.jpg");
    background-repeat: no-repeat;
    background-size: cover;  /* Ensures it covers the full area */
    background-position: center; /* Centers the image */
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* Media Query for Smaller Screens */
@media (max-width: 720px) {
    #identifyModal {
        background-size: cover; /* Ensures it covers the full screen */
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
}

.short{
    padding-top: 70px;
}


#identifyModal .modal-content{
    background-color: rgba(228, 230, 230, 0.833);
}
#doctorsModal .modal-content{
    background-color: rgba(228, 230, 230, 0.833);
}
#hospitalsModal .modal-content{
    background-color: rgba(228, 230, 230, 0.833);
}
#shopsModal .modal-content{
    background-color: rgba(228, 230, 230, 0.833);
}
#ambulanceModal .modal-content{
    background-color: rgba(228, 230, 230, 0.833);
}
#doctorsModal #specialty {
    border-radius: 20px;
    width: 55%;
    height: 7.5%;
    padding-left: 10px;
    font-weight: bold;
}
#signupModal .modal-content{
    margin-top: 10%;
    height: 475px;
    background-color: rgba(200, 224, 223, 0.62);
}
#loginModal .modal-content{
    background-color: rgba(200, 224, 223, 0.62);
}
#signupForm a{
    color: rgb(6, 6, 22);
    font-weight: bold;
}
#loginForm a{
    color: rgb(6, 6, 22);
    font-weight: bold;
}


#appointmentForm button {
    width: 100%;         /* Set the button width to 80% */
    background-color: green; /* Set button color to green */
    color: white;       /* Set the text color to white */
    padding: 10px;      /* Optional: Add padding for better appearance */
    border: none;       /* Remove any border */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer;   /* Make cursor pointer on hover */
}

#appointmentForm button:hover {
    background-color: darkgreen; /* Darken the button on hover */
}


@media (min-width: 768px) {
    .card-container {
      flex-direction: row; /* horizontal layout on tablets & desktops */
      flex-wrap: wrap;     /* allow wrapping if needed */
    }
  
    .card {
      flex: 1 1 calc(33.33% - 20px); /* 3 cards per row with gap compensation */
    }
  }